#forgot_password-component {
  width: 30%;
  margin: 0 auto;
  margin-top: 40px;
}

#forgot_password-component .button {
  margin: 20px 0;
}

#forgot_password-component a {
  display: block;
  color: #0070FF;
}

#forgot_password-component .field {
  margin-bottom: 10px;
}
